<section class="hero is-medium hero-carousel">  
<div class="wrapper">
    <i id="left" class='bx bxs-left-arrow'></i>  
    <div class="carousel">
        <img src="/img/mydays.png" alt="logo-mydays">
        <img src="/img/crea.png" alt="crea-img">
        <img src="/img/gestiona.png" alt="gestiona-img">
        <img src="/img/calendario.png" alt="calendario-img">
        <img src="/img/github.png" alt="github-img">
    </div>
    <i id="right" class='bx bxs-right-arrow'></i>
</div>
</section>











<script src="/js/slider.js"></script>
{{> footer }}
