<footer class="footer">
    <div class="content has-text-centered">
        <div class="row">
        <div class="columns">
            <div class="column">
            <p>© Copyright 2024 - Ana Fontana, af_Dev.</p> 
            <p>Desarrollo web</p>
    </div>
    <div class="column">
        <h3 class="title-footer">redes profesionales</h3>
        <div class="socials">
        <p><a href="https://www.linkedin.com/in/anafontana822/"><i class='bx bxl-linkedin-square'></i></a></p>
        <p><a href="https://github.com/Fontany05"><i class='bx bxl-github'></i></a></p>
        </div>
    </div> 
        </div>
    </div>
</footer>