<section class="sec-anun">
  <div class="container card-container">
    {{#each notes}}
      <div class="card c-task">
        <div class="card-content">
          <a href="/notes/edit/{{_id}}">
            <i class="bx bx-pencil btn-edit"></i></a>
          <h3 class="c-title">
            {{title}}
          </h3>
          <p class="p-task">{{task}}</p>

          <form action="/notes/delete/{{_id}}?_method=DELETE" method="post">
          <input type="hidden" name="_method" value="DELETE" />
          <button
            class="button is-fullwidth"
            type="submit"
            id="btn-trash"><i class="bx bx-trash"></i></button>
        </form>
        </div>
      </div>
    {{/each}}
  </div>
</section>